<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="nofollow"/>
    <link href="/static/meili/style/adminStyle.css" rel="stylesheet" type="text/css" />
    <style>
        body{width:100%;height:100%;overflow:hidden;background:url(/static/meili/images/pc_loginBg.jpg) no-repeat;background-size:cover;position:absolute;}
    </style>
    <script src="/static/meili/js/jquery.js"></script>
    <script src="/static/meili/js/Particleground.js"></script>
    <script>
        $(document).ready(function() {
            $('body').particleground({
                dotColor:'green',
                lineColor:'#c9ec6e'
            });
            $('.intro').css({
                'margin-top': -($('.intro').height() /2)
            });
        });
        function login() {
            $.ajax({
                "async": false,
                "url": "/login/",
                "data": {
                    "username":$("#username").val(),
                    "password":$("#password").val()
                },
                "type": "POST",
                "dataType": "json",
                "success": function (data) {
                    if (data.msg == '登录成功') {
                        window.location.href = "/";
                    } else {
                        alert(data.msg);
                    }

                }
            });
        }
        function goRegister() {
            window.location.href = "/goRegister";
        }
        function getPassword() {
            window.location.href = "/getPassword";
        }
    </script>

</head>
<body>
<section class="loginform">
    <h1>登陆</h1>
    <ul>
        <li>
            <label>账号：</label>
            <input type="text" id="username" name="username" class="textBox" placeholder="管理员账号"/>
        </li>
        <li>
            <label>密码：</label>
            <input type="password" id="password" name="password" class="textBox" placeholder="登陆密码"/>
        </li>

        <li>
            <input type="button" onclick="login()" value="立即登陆"/>
        </li>
{#        <li>#}
{#            <input type="button" onclick="goRegister()" value="立即注册"/>#}
{#        </li>#}
{#        <li>#}
{#            <input type="button" onclick="getPassword()" value="修改密码"/>#}
{#        </li>#}
    </ul>
</section>
</body>
</html>